<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>PostHogAPIKey</key>
	<string>$(POSTHOG_API_KEY)</string>
	<key>PostHogHost</key>
	<string>$(POSTHOG_HOST)</string>
	<key>SupabaseURL</key>
	<string>$(SUPABASE_URL)</string>
	<key>SupabaseAnonKey</key>
	<string>$(SUPABASE_ANON_KEY)</string>
</dict>
</plist>
